/**
    author: xuchen
    desc: admin.css
*/

.title-row{
    background-color: #4b5068;
}

#title-icon{
    width: 75px;
    height: 50px;
    float: left;
    margin-top: 5px;
}

.title-left-block{
    float: left;
    height: 60px;
    line-height: 80px;
    padding: 0px 1em 0px 1em;
}

.title-left-block span{
    color: white;
    margin-left: 5px;
}

.title-right-block{
    float: right;
    height: 60px;
    text-align: center;
    line-height: 60px;
    padding: 0px 1em 0px 1em;
}

.drop-text-block{
    color: white;
    font-size: 16px;
}

.dropdown-button{
    width: 100%;
    height: 100%;
    background-color: #4b5068;
    padding: 0px 0.5em 0px 0.5em;
    background-image: none;
    border: 0px;
    color: white;
    font-size: 18px;
}

.dropdown-button:hover{
    background-color: #6e6e7e;
}

.dropdown-button:focus {
    background-color: #6e6e7e;
}

#left-menu-block{
    height: 100%;
    background-color: #ebebeb;
    border: 1px solid #ccc;
}

.menu-button{
    width: 100%;
    padding: 10px 15px;
    background-color: #e4e4e3;
    text-align: left;
    border-bottom: 0.8px solid rgb(180, 179, 179);
}

.menu-button>span{
   float: right;
}

.menu-list-group{
   display: none;
}

.show-list-group{
    display: block;
}

.footer-block{
    text-align: center;
    padding: 5px;
    margin-top: -25px;
}

.small-title-block{
    height: 60px;
    line-height: 60px;
}

#right-content-block{
    height: 100%;
}

.top-content-block{
    padding: 0px 10px 0px 10px;
}

.user-list-block{
    margin: 20px 0px;
}

.rotate-icon{
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

td{
    text-align: center;
}

th{
    text-align: center;
}

.tips-modal-title{
    text-align: center;
    color: #f08358
}

.tips-modal-body{
    text-align: center;
}

.tips-modal-body{
    text-align: center;
}

#SelectTag{
    margin-top: -5px;
    margin-bottom: 10px;
}

.tag-block{
    padding: 4px;
    margin-right: 10px;
}

.edit-blog-area{
    display: none;
}

.edit-blog-bottom-block{
    margin: -10px 0px 10px 0px;
    padding: 20px 10px 20px 10px;
}

.send-blog-button{
    float: right;
}

.blog-title-input{
    width: 500px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
         -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.pageindex-input{
    width: 65px;
}

.equal{
    overflow: hidden; 
}

.equal>[class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

.pageindex-block{
    text-align: center;
    padding-top: 20px;
}