/**
    author: xuchen
    desc: admin.css
*/

.title-row{
    background-color: #4b5068;
}

#title-icon{
    width: 75px;
    height: 50px;
    float: left;
    margin-top: 5px;
}

.title-left-block{
    float: left;
    height: 60px;
    line-height: 80px;
    padding: 0px 1em 0px 1em;
}

.title-left-block span{
    color: white;
    margin-left: 5px;
}

.title-right-block{
    float: right;
    height: 60px;
    text-align: center;
    line-height: 60px;
    padding: 0px 1em 0px 1em;
}

.drop-text-block{
    color: white;
    font-size: 16px;
}

.dropdown-button{
    width: 100%;
    height: 100%;
    background-color: #4b5068;
    padding: 0px 0.5em 0px 0.5em;
    background-image: none;
    border: 0px;
    color: white;
    font-size: 18px;
}

.dropdown-button:hover{
    background-color: #6e6e7e;
}

.dropdown-button:focus {
    background-color: #6e6e7e;
}

#left-menu-block{
    height: 100%;
    background-color: #ebebeb;
    border: 1px solid #ccc;
}

.menu-button{
    width: 100%;
    padding: 10px 15px;
    background-color: #e4e4e3;
    text-align: left;
    border-bottom: 0.8px solid rgb(180, 179, 179);
}

.menu-button>span{
   float: right;
}

.menu-list-group{
   display: none;
}

.show-list-group{
    display: block;
}

.footer-block{
    text-align: center;
    padding: 5px;
    margin-top: -25px;
}

.small-title-block{
    height: 60px;
    line-height: 60px;
}

#right-content-block{
    height: 100%;
}

.top-content-block{
    padding: 0px 10px 0px 10px;
}

.user-list-block{
    margin: 20px 0px;
}

td{
    text-align: center;
}

th{
    text-align: center;
}

.tips-modal-title{
    text-align: center;
    color: #f08358
}

.tips-modal-body{
    text-align: center;
}

.tips-modal-body{
    text-align: center;
}

#SelectTag{
    margin-top: -5px;
    margin-bottom: 10px;
}

.tag-block{
    padding: 4px;
    margin-right: 10px;
}

.edit-blog-area{
    display: none;
}

.edit-blog-bottom-block{
    margin: -10px 0px 10px 0px;
    padding: 20px 10px 20px 10px;
}

.send-blog-button{
    float: right;
}

.blog-title-input{
    width: 500px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
         -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.pageindex-input{
    width: 65px;
}

.equal{
    overflow: hidden; 
}

.equal>[class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

.pageindex-block{
    text-align: center;
    padding-top: 20px;
}



/* 我是分界线，以下的css代码为正在测试的代码 */
body{
    padding: 0;
    margin: 0;
    height: 100%;
    color: #555555;
    font-size: 8px;
}

body, button, input, select, textarea {
    font: 400 1.5em/1.8 Avenir,Microsoft Yahei,Hiragino Sans GB,Microsoft Sans Serif,WenQuanYi Micro Hei,sans-serif;
}

.theme-blue .navbar{
    padding: 0px 15px;
    background: #4d5b76;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #4d5b76), color-stop(1, #6f80a1));
}

.navbar-header-text{
    font-size: 15px;
    color: white;
}

.navbar-header-img{
    height: 50px;
    width: 50px;
}

.navbar-header-title{
    position: relative;
    top: 12px;
    left: -5px;
}

.open>.btn{
    background-color:rgb(50, 50, 50) !important;
}

#main-menu>.dropdown:hover,
#main-menu>.dropdown:active{
    background-color:rgb(50, 50, 50);
}

.navbar-small-menu{
    padding-left: 10px;
}

.nav.nav-list.navbar-small-menu a:hover{
    display: block;
    background: rgb(50, 50, 50);
    padding: 10px;
}

.sidebar-nav{
    width: 240px;
    position: absolute;
    float: left;
    border-top: none;
    border-left: none;
    margin-top: -20px;
}

.sidebar-nav ul{
    list-style: none;
    padding-left: 0px;
}

.sidebar-nav .nav-header{
    border-top: 1px solid #fcfcfc;
    border-bottom: 1px solid #c8c8cb;
    border-left: none;
    background: #efeff0;
    color: #444;
    display: block;
    font-weight: normal;
    font-size: 1.0em;
    line-height: 2.5em;
    padding: .25em .25em .25em 1em;
    margin-bottom: 0px;
    text-shadow: none;
    text-transform: none;
}

.sidebar-nav .nav-header:hover{
    text-decoration : none;
}

.navbar-menu{
    border-bottom: 1px solid #c8c8cb;
    color: rgb(50, 50, 50);
    background: #efeff0;
    font-size: 0.9em;
    line-height: 2em;
    font-weight: normal;
}

.sidebar-nav .navbar-menu a:hover{
    background: #c8c8cb;
}

.down-icon{
    position: relative;
    float: right;
    top:0.7em;
    right: 1em;
}

.rotate-icon{
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.content{
    position: relative;
    min-height: 800px;
    background: #fff;
    margin-left: 240px;
    border-left: 1px solid #cccccc;
    padding: 15px 15px 0px 15px;
    margin-top: -20px;
}

@media (max-width: 768px){
    .content{
        position: relative;
        min-height: 800px;
        background: #fff;
        margin-left: 0px;
        border: 1px solid #cccccc;
        padding: 15px 15px 0px 15px;
        margin-top: -20px;
    }
}

.footer-content{
    text-align: center;
    padding: 5px 0px;
    margin-top: -25px;
}

.footer-content hr{
    border:0;
    background-color:#c8c8cb;
    height:1px;
}

.content-header{
    margin-bottom: 30px;
}

.profile-input{
    width: 300px;
}

.profile-desc-content{
    height: 300px;
}

.profile-desc-area{
    width: 450px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    resize:none;
}

.profile-content{
    padding: 20px 0px;
}

#time-ul{
    display: block;
    padding-left: 0em;
}

#time-ul>li{
    display: inline-block;
    list-style: none;
    padding: 0px;
    margin-left: 0em;
    margin-right: 5em;
}