/**
    author: xuchen
    desc: admin.css
*/

.title-row{
    background-color: #4b5068;
}

#title-icon{
    width: 75px;
    height: 50px;
    float: left;
    margin-top: 5px;
}

.title-left-block{
    float: left;
    height: 60px;
    line-height: 80px;
    padding: 0px 1em 0px 1em;
}

.title-left-block span{
    color: white;
    margin-left: 5px;
}

.title-right-block{
    float: right;
    height: 60px;
    text-align: center;
    line-height: 60px;
    padding: 0px 1em 0px 1em;
}

.drop-text-block{
    color: white;
    font-size: 16px;
}

.dropdown-button{
    width: 100%;
    height: 100%;
    background-color: #4b5068;
    padding: 0px 0.5em 0px 0.5em;
    background-image: none;
    border: 0px;
    color: white;
    font-size: 18px;
}

.dropdown-button:hover{
    background-color: #6e6e7e;
}

.dropdown-button:focus {
    background-color: #6e6e7e;
}

#left-menu-block{
    border:1px solid rgb(180, 179, 179);
    border-top-width: 0px;
    border-bottom-width: 0px;
    min-height: 1280px;
    background-color: #ebebeb;
}

.small-title-block{
    height: 60px;
    line-height: 60px;
}

.menu-button{
    width: 100%;
    padding: 10px 15px;
    background-color: #e4e4e3;
    text-align: left;
    border-bottom: 0.8px solid rgb(180, 179, 179);
}

.menu-button>span{
   float: right;
}

.list-group{
    margin-bottom: 0px;
}

.top-content-block{
    min-height: 1180px;
    padding: 0px 10px 0px 10px;
}

.right-bottom-block{
    min-height: 100px;
}

.user-list-block{
    margin: 20px 0px;
}

.rotate-icon{
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

td{
    text-align: center;
}

th{
    text-align: center;
}