/*
    authot: tsuchen
    desc: myblog.css
*/

/* homepage css */
a{
    color: #efefef;
    text-shadow: 0 1px #666;
    transition: color .3s;
    text-decoration: none;
}

a:hover{
    color: #bbb8b8;
    text-decoration: none;
}

ul{
    list-style-type:none;
    padding-left: 0px;
}

li{
    font-size: 16px;
    margin-top: 1em;
    padding-right: 60px;
}

.homepage-fixed-block{
    position:fixed;
    top:0;
    left:0;
    height: 100%;
    padding: 0px;
}

.homepage-fixed-block>div{
    overflow: hidden;
    /* background: url("../img/bg.jpg");
    background-repeat: repeat-y; */
    background-color: #858282;
    width: 100%;
    height: 100%;
    text-align: center;
}

.homepage-right-block{
    border-style: solid;
    border-color: #c20b0b;
    height: 1000px;
}

.name-block{
    margin-top: 20px;
    text-align: center;
}

.subtitle{
    color:#ccc;
    font-size: 13px;
}

.menu-block{
    margin-top: 60px;
}

#homepage-icon{
    width: 100px;
    height: 100px;
    margin-top: 20%;
}

@media only screen and (min-width: 970px){
    #homepage-icon{
        width: 140px;
        height: 140px;
        margin-top: 20%;
    }
}

.homepage-right-title{
    background-color: #858282;
    text-align: center;
}

#small-icon{
    height: 80px;
    width: 80px;
    position: absolute;
    margin-left: -10px;
    margin-top: 5px;
    display: block;
    z-index: 1;
}

@media only screen and (max-width: 360px){
    #small-icon{
        display: none;
    }
}

#small-menu-ul{
    display: block;
    /* white-space: nowrap; */
    text-align: center;
}

#small-menu-ul>li{
    display: inline-block;
    list-style: none;
    padding: 0px;
    margin-left: 1em;
    margin-right: 1em;
}

.small-title-block{
    margin-top: -10px;
}