/*
    authot: tsuchen
    desc: myblog.css
*/

a{
    color: #efefef;
    text-shadow: 0 1px #666;
    transition: color .3s;
    text-decoration: none;
}   

a:hover{
    color: #bbb8b8;
    text-decoration: none;
}

/* homepage css */
.homepage-fixed-block{
    position:fixed;
    top:0;
    left:0;
    height: 100%;
    padding: 0px;
}

.homepage-fixed-block>div{
    overflow: hidden;
    /* background: url("../img/bg.jpg");
    background-repeat: repeat-y; */
    background-color: #858282;
    width: 100%;
    height: 100%;
    text-align: center;
}

.homepage-right-block{
    border-style: solid;
    border-color: #c20b0b;
    height: 1000px;
}

.name-block{
    margin-top: 20px;
    text-align: center;
}

.subtitle{
    color:#ccc;
    font-size: 15px;
}

.name-block>a{
    font-size: 25px;
}

.menu-block{
    margin-top: 60px;
}

.homepage-icon{
    width: 100px;
    height: 100px;
    margin-top: 20%;
}

@media only screen and (min-width: 970px){
    .homepage-icon{
        width: 140px;
        height: 140px;
        margin-top: 20%;
    }
}

.homepage-right-title{
    background-color: #858282;
    text-align: center;
}

.homepage-right-title>h1{
    margin-top: 10px;
    margin-bottom: 0px;
}

.small_icon{
    height: 80px;
    width: 80px;
    display: inline-block;
    position: absolute;
    top: 5px;
    left: 5px;
}

#menu-ul{
    padding-left: 0px;
}

#menu-ul>li{
    font-size: 16px;
    margin-top: 1em;
    padding-right: 60px;
    list-style-type:none;
}

#small-menu-ul{
    white-space:nowrap;
    padding: 0px;
    margin-top: 15px;
}

#small-menu-ul>li{
    list-style: none;
    display:inline-block;
    font-size: 16px;
    margin-left: 0.5em;
    margin-right: 0.5em;
}