<!DOCTYPE html>
<html>
   <head>
      <title>博客后台管理</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- 引入 Bootstrap -->
      <link href="../static/css/bootstrap.min.css" rel="stylesheet">
      <link href="../static/css/admin.css" rel="stylesheet">
   </head>
   <body>
      <div class="container-fluid">
        <div class="row title-row">
            <div class="col-md-12">
                <div class="title-left-block">
                    <img id="title-icon" src="../static/img/log.png" class="img-circle">
                    <spawn>博客后台</spawn>
                </div>
                <div class="title-right-block dropdown">
                    <div class="drop-text-block">
                        <img id="user-img" src="../static/img/user.png">
                        xuchen<span class="caret"></span>
                    </div>
                    <ul class="dropdown-menu pull-right">
                        <li><a href="#">jmeter</a></li>
                        <li><a href="#">EJB</a></li>
                        <li><a href="#">Jasper Report</a></li>
                        <li class="divider"></li>
                        <li><a href="#">分离的链接</a></li>
                        <li class="divider"></li>
                        <li><a href="#">另一个分离的链接</a></li>
                    </ul>
                </div>
            </div>
        </div>
      </div>
      <!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
      <script src="../static/js/tools/jquery-3.2.1.js"></script>
      <script src="../static/js/tools/bootstrap.js"></script>
      <script src="../static/js/helper/helper.js"></script>
      <script src="../static/js/admin.js"></script>
   </body>
</html>