<!DOCTYPE html>
<html>
   <head>
      <title>博客后台管理</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- 引入 Bootstrap -->
      <link href="../static/css/bootstrap.min.css" rel="stylesheet">
      <link href="../static/css/admin.css" rel="stylesheet">
   </head>
   <body>
      <div class="container-fluid">
        <div class="row title-row">
            <div class="visible-xs-block small-title-block">
                <div class="dropdown">
                    <button class="dropdown-button" type="button" id="userDropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">                           
                        <span class="glyphicon glyphicon-th-list"></span>
                        {{.UserName}}
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdownMenu2">
                        <li><a href="#">User Profile</a></li>
                        <li><a href="#">Reset Password</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a class="logout" href="#" onclick="logout();return false;">Logout</a></li>
                    </ul>
                </div>
            </div>
            <div class="hidden-xs">
                <div class="title-left-block">
                    <img id="title-icon" src="../static/img/log.png" class="img-circle">
                    <span class="drop-text-block">博客后台</span>
                </div>
                <div class="title-right-block">
                    <div class="dropdown">
                        <button class="dropdown-button" type="button" id="userDropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <img id="user-img" src="../static/img/user.png">
                            {{.UserName}}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdownMenu">
                            <li><a href="#">User Profile</a></li>
                            <li><a href="#">Reset Password</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a class="logout" href="#" onclick="logout();return false;">Logout</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- left menu col -->
            <div class="col-md-2 col-sm-4 col-xs-4">
                <div id="left-menu-block" class="row">
                    <div>
                        <div class="menu-button">
                            <strong>用户管理</strong> 
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </div>
                        <div id="UserList" class="menu-list-group {{if eq .GroupListId "UserList"}} show-list-group {{end}}">
                            <a class="list-group-item" href="/admin">用户列表</a>
                        </div>
                    </div>
                    <div>
                        <div class="menu-button">
                            <strong>分类管理</strong> 
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </div>
                        <div id="CategoryList" class="menu-list-group {{if eq .GroupListId "CategoryList"}} show-list-group {{end}}">
                            <a class="list-group-item" href="/admin/category">所有分类</a>
                        </div>
                    </div>
                    <div>
                        <div class="menu-button">
                            <strong>文章管理</strong> 
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </div>
                        <div class="menu-list-group">
                            <a class="list-group-item" href="#">所有文章</a>
                            {{range $key, $val := .CategoryInfos}}  
                                <a class="list-group-item" href="{{$val.URL}}">{{$val.Name}}</a>
                            {{end}}
                        </div>
                    </div>
                    <div>
                        <div class="menu-button">
                            <strong>标签管理</strong> 
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </div>
                        <div class="menu-list-group">
                            <a class="list-group-item" href="#">所有标签</a>
                        </div>
                    </div>
                    <div>
                        <div class="menu-button">
                            <strong>评论管理</strong> 
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </div>
                        <div class="menu-list-group">
                            <a class="list-group-item" href="#">所有评论</a>
                        </div>
                    </div>
                    <div>
                        <div class="menu-button">
                            <strong>友链管理</strong> 
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </div>
                        <div class="menu-list-group">
                            <a class="list-group-item" href="#">所有链接</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- right content -->
            <div class="col-md-10 col-sm-8 col-xs-8">
                <!-- top content -->
                <div class="row">
                    {{.LayoutContent}}    
                </div>
                <!-- bottom -->
                <div class="row">
                    template "footer"
                </div>
            </div>
        </div>

        <!-- 提示模态框 -->
        <div class="modal fade" id="TipsModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h3 class="modal-title">提示消息</h4>
                    </div>
                    <div class="modal-body">
                        <h4 class="tips-body">这是一条提示消息。</h4>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">放弃修改</button>
                        <button id="ComfirmAlterCategory" type="button" class="btn btn-primary">确认修改</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- 修改分类名称模态框 -->
        <div class="modal fade" id="AlterCategoryModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">修改分类名称</h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="AlterCategoryName" class="control-label">分类名称:</label>
                                <input type="text" class="form-control" id="AlterCategoryName">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">放弃修改</button>
                        <button id="ComfirmAlterCategory" type="button" class="btn btn-primary">确认修改</button>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    

      <!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
      <script src="../static/js/tools/jquery-3.2.1.js"></script>
      <script src="../static/js/tools/bootstrap.js"></script>
      <script src="../static/js/helper/helper.js"></script>
      <script src="../static/js/admin.js"></script>
   </body>
</html>