<!DOCTYPE html>
<html>
   <head>
      <title>博客后台管理</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- 引入 Bootstrap -->
      <link href="../static/css/bootstrap.min.css" rel="stylesheet">
      <link href="../static/css/admin.css" rel="stylesheet">
   </head>
   <body>
      <div class="container-fluid">
        <div class="row title-row">
            <div class="visible-xs-block small-title-block">
                <div class="dropdown">
                    <button class="dropdown-button" type="button" id="userDropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">                           
                        <span class="glyphicon glyphicon-th-list"></span>
                        {{.UserName}}
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdownMenu2">
                        <li><a href="#">User Profile</a></li>
                        <li><a href="#">Reset Password</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a class="logout" href="#" onclick="logout();return false;">Logout</a></li>
                    </ul>
                </div>
            </div>
            <div class="hidden-xs">
                <div class="title-left-block">
                    <img id="title-icon" src="../static/img/log.png" class="img-circle">
                    <span class="drop-text-block">博客后台</span>
                </div>
                <div class="title-right-block">
                    <div class="dropdown">
                        <button class="dropdown-button" type="button" id="userDropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <img id="user-img" src="../static/img/user.png">
                            {{.UserName}}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdownMenu">
                            <li><a href="#">User Profile</a></li>
                            <li><a href="#">Reset Password</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a class="logout" href="#" onclick="logout();return false;">Logout</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- left menu col -->
            <div class="col-md-2 col-sm-4 col-xs-4">
                <div class="row left-menu-block">
                    <div id="menu_1">
                        <div class="menu-button">
                            <strong>用户管理</strong> 
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </div>
                        <div class="menu-list-group">
                            <button type="button" class="list-group-item">用户列表</button>
                        </div>
                    </div>
                    <div id="menu_2">
                        <div class="menu-button">
                            <strong>文章管理</strong> 
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </div>
                        <div class="menu-list-group">
                            <button type="button" class="list-group-item">所有博客</button>
                            <button type="button" class="list-group-item">Blogging</button>
                            <button type="button" class="list-group-item">C++</button>
                            <button type="button" class="list-group-item">Golang</button>
                            <button type="button" class="list-group-item">行为树</button>
                            <button type="button" class="list-group-item">随笔</button>
                        </div>
                    </div>
                    <div id="menu_3">
                        <div class="menu-button">
                            <strong>分类管理</strong> 
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </div>
                        <div class="menu-list-group">
                            <button type="button" class="list-group-item">所有分类</button>
                            <button type="button" class="list-group-item">添加分类</button>
                        </div>
                    </div>
                    <div id="menu_4">
                        <div class="menu-button">
                            <strong>评论管理</strong> 
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </div>
                        <div class="menu-list-group">
                            <button type="button" class="list-group-item">最新评论</button>
                            <button type="button" class="list-group-item">所有评论</button>
                        </div>
                    </div>
                    <div id="menu_5">
                        <div class="menu-button">
                            <strong>友情链接管理</strong> 
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </div>
                        <div class="menu-list-group">
                            <button type="button" class="list-group-item">所有链接</button>
                            <button type="button" class="list-group-item">添加链接</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- right content -->
            <div class="col-md-10 col-sm-8 col-xs-8">
                <!-- top content -->
                <div class="row">
                    {{.LayoutContent}}    
                </div>
                <!-- bottom -->
                <div class="row">
                    template "footer"
                </div>
            </div>
        </div>
      </div>
      <!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
      <script src="../static/js/tools/jquery-3.2.1.js"></script>
      <script src="../static/js/tools/bootstrap.js"></script>
      <script src="../static/js/helper/helper.js"></script>
      <script src="../static/js/admin.js"></script>
   </body>
</html>