 <!-- header -->
<div class="content-header">
    <p style="color:#555555;font-size:1.8em;padding-left:15px">{{.CategoryName}}</p>
        <ol class="breadcrumb">
            <li><a href="/admin">首页</a></li>
            <li class="active">{{.CategoryName}}</li>
        </ol>
    <hr>
</div>

<div style="min-height: 678px;">
    <ul class="nav nav-tabs">
        <li class="active" role="presentation">
            <a href="#content-list" data-toggle="tab">文章列表</a>
        </li>
    </ul>
    <div class="dropdown" style="margin-top: 2em;">
        <label for="select-category">选择分类：</label>
        <Button id="select-category" data-toggle="dropdown" type="button" class="btn btn-info">
            {{.CategoryName}}
            <span class="caret"></span>
        </Button>   
        <ul class="dropdown-menu" aria-labelledby="dLabel">
            <li><a href="/admin/bloglist/cate/0/p/1">所有博客</a></li> 
            {{range $key, $val := .CategoryInfos}}
                <li><a href="{{$val.URL}}">{{$val.Name}}</a></li> 
            {{end}}
        </ul>
    </div>
    <div class="tab-content profile-content">
        <div id="content-list" class="tab-pane fade in active" data-total-pages={{.TotalPages}}>
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <tr class="success">
                        <th>ID</th>
                        <th>文章标题</th>
                        <th>操作</th>
                    </tr>
                    {{range $key, $val := .Blogs}}
                        <tr class="active">
                            <td>{{$val.ID}}</td>
                            <td>{{$val.Title}}</td>
                            <td>
                                <a id="alter-article" class="btn" href="/admin/editblog/blog/{{$val.ID}}">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </a>
                            </td>
                        </tr>
                    {{end}}
                </table>
            </div>
            <nav aria-label="Page navigation" style="text-align: center;">
                <ul class="pagination">
                    <li>
                        <a id="PrePageLink" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {{range $key, $val := .PageIndexList}}
                        <li class="{{if $val.Active}}active{{end}}">
                            <a href="{{$val.URL}}">{{$val.Index}}</a>
                        </li>
                    {{end}}
                    <li>
                        <a id="NextPageLink" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>