<div class="top-content-block">
    <h2>{{.CategoryName}}列表</h2>
    <hr></hr>
    <div class="dropdown">
        <label for="SelectCategory">选择分类：</label>
        <Button id="SelectCategory" data-toggle="dropdown" type="button" class="btn btn-info">
            {{.CategoryName}}
            <span class="caret"></span>
        </Button>   
        <ul class="dropdown-menu" aria-labelledby="dLabel">
            <li><a href="/admin/blogs/0">所有博客</a></li> 
            {{range $key, $val := .CategoryInfos}}
                <li><a href="{{$val.URL}}">{{$val.Name}}</a></li> 
            {{end}}
        </ul>
    </div>
    <div class="table-responsive user-list-block">
        <table class="table table-striped table-hover">
            <tr class="success">
                <th>#</th>
                <th>博客名称</th>
                <th></th>
            </tr>
            {{range $key, $val := .Blogs}}
                <tr class="active">
                    <td>{{$val.ID}}</td>
                    <td>{{$val.Title}}</td>
                    <button data-id="{{$val.ID}}" type="button" class="btn" data-toggle="modal">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <button data-id="{{$val.ID}}" data-name="{{$val.Name}}" type="button" class="btn" onclick="deleteBlog(this)">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </tr>
            {{end}}
        </table>
    </div>
</div>