 <!-- header -->
 <div class="content-header">
    <p style="color:#555555;font-size:1.8em;padding-left:15px;">文章编辑</p>
        <ol class="breadcrumb">
            <li><a href="/admin">首页</a></li>
            <li class="active">新文章</li>
        </ol>
    <hr>
</div>
    
<div style="padding: 0px 25px;">
    <!-- content row -->
    <div class="row">
        <form>
            <div class="form-group">
                <label for="articletitle-input">文章标题：</label>
                <input type="input" id="articletitle-input" class="blog-title-input" placeholder="输入标题">
            </div>
    
            <div class="form-group">
                <div class="dropdown">
                    <label for="cate-select">选择分类：</label>
                    <select id="cate-select" class="form-control profile-input" data-default-select="{{.SelectCateID}}">
                        {{range .CategoryInfos}}
                            <option value="{{$val.ID}}">{{$val.Name}}</option>
                        {{end}}
                    </select>
    
                    <Button id="SelectCategoryBtn" data-toggle="dropdown" type="button" class="btn btn-success">
                        点击选择
                        <span class="caret"></span>
                    </Button> 
                    <ul class="dropdown-menu" aria-labelledby="dLabel">
                        {{range $key, $val := .CategoryInfos}}
                            <li><a data-id="{{$val.ID}}" data-name="{{$val.Name}}" onclick="addCategoryForBlog(this)">{{$val.Name}}</a></li> 
                        {{end}}
                    </ul>
                </div>
            </div>
    
            <div class="form-group">
                <div class="dropdown">
                    <label for="SelectTagBtn">添加标签：</label>
                    <Button data-toggle="dropdown" type="button" class="btn btn-primary">
                        点击添加
                        <span class="caret"></span>
                    </Button>   
                    <ul class="dropdown-menu" aria-labelledby="dLabel">
                        {{range $key, $val := .Tags}}
                            <li><a data-id="{{$val.ID}}" data-name="{{$val.Name}}" onclick="addTagForBlog(this)">{{$val.Name}}</a></li> 
                        {{end}}
                    </ul>
                </div>
            </div>
            <!-- MdEditor -->
            <div id="BlogEditor">
                <textarea class="edit-blog-area"></textarea>
            </div>
        </form>   
    </div>

    <!-- bottom row -->
    <div class="row">
        <div class="edit-blog-bottom-block">
            <button id="SaveBlogBtn" class="btn btn-warning btn-lg">暂存博客</button>
            <button id="DeleteBlogBtn" class="btn btn-danger btn-lg">删除博客</button>
            <button id="SendBlogBtn" class="btn btn-success btn-lg send-blog-button">发表博客</button>
        </div>
    </div>
</div>