 <!-- header -->
 <div class="content-header">
    <p style="color:#555555;font-size:1.8em;padding-left:15px;">编辑文章</p>
        <ol class="breadcrumb">
            <li><a href="/admin">首页</a></li>
            <li class="active">
                {{if .IsNew}}
                    新文章
                {{else}}
                    {{.Title}}
                {{end}}
            </li>
        </ol>
    <hr>
</div>
    
<div id="editblog-form" style="padding: 0px 20px;" data-acticle-id="{{.BlogID}}">
    <!-- content row -->
    <div class="row">
        <form style="padding: 15px 0px 5px 0px;">
            <div class="form-group">
                <label for="article-title-input">文章标题：</label>
                <input type="input" id="title-input" class="blog-input article-title-input" placeholder="输入标题" value="{{.Title}}">
            </div>
            <div class="form-group">
                <label for="cate-select">选择分类：</label>
                <input type="text" id="cate-select" class="blog-input select-input" value="{{.SelectCate}}" list="cate-list" placeholder="输入分类">
                <datalist id="cate-list">
                    {{range .CategoryInfos}}
                        <option value="{{.Name}}"/>
                    {{end}}
                </datalist>         
            </div>
            <div class="form-group">
                <label for="tag-select">选择标签：</label>
                <input type="text" id="tag-select" class="blog-input select-input" value="{{.SelectTags}}" list="tag-list" placeholder="输入标签">
                <datalist id="tag-list">
                    {{range .Tags}}
                        <option value="{{.Name}};"/>
                    {{end}}
                </datalist>         
            </div>

            <div class="form-group">
                <!-- MdEditor -->
                <div id="my-editormd" style="margin-top:2em">
                    <textarea id="my-editormd-markdown-doc" name="my-editormd-markdown-doc" style="display:none;">{{.Content}}</textarea>
                </div>
            </div>
        </form>
    </div>

    <!-- bottom row -->
    <div class="row">
        <div class="edit-blog-bottom">
            <button type="button" id="delete-article-button" class="btn btn-danger" onclick="deleteArticle()">删除博客</button>
            <button type="button" id="send-article-button" class="btn btn-success" onclick="sendArticle()">发表博客</button>
            <button type="button" id="save-article-button" class="btn btn-warning" onclick="saveArticle()">暂存博客</button>
        </div>
    </div>
</div>