<!DOCTYPE html>
<html>
    <head>
        <title>Tsu Chen Blog</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- 引入 Bootstrap -->
        <link href="../static/css/bootstrap.min.css" rel="stylesheet">
        <link href="../static/css/myblog.css" rel="stylesheet">
    </head>
   <body>
        <!-- left fixed block -->
        <div class="homepage-fixed-block">
            <img src="../static/img/bg.jpg" class="homepage-bg">
        </div>
        <div class="homepage-right-block">

        </div>
        <!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
        <script src="../static/js/tools/jquery-3.2.1.js"></script>
        <script src="../static/js/myblog.js"></script>
        <!-- 包括所有已编译的插件 -->
        <!-- <script src="../static/js/bootstrap.min.js"></script> -->
   </body>
</html>