<!DOCTYPE html>
<html>
    <head>
        <title>tsuchen blog</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- 引入 Bootstrap -->
        <link href="../static/css/bootstrap.min.css" rel="stylesheet">
        <link href="../static/css/myblog.css" rel="stylesheet">
        <!-- style -->
        <style>
        ul{
            list-style-type:none;
            padding-left: 0px;
        }

        li{
            font-size: 16px;
            margin-top: 1em;
            padding-right: 60px;
        }
        </style>
    </head>
   <body>    
        <div class="container-fluid">
            <div class="row">
                <!-- left fixed -->
                <div class="col-md-2 col-sm-2 homepage-fixed-block hidden-xs">
                    <div>
                        <img src="../static/img/icon.png" class="homepage-icon">
                        <div class="name-block">
                            <h1><a>tsuchen</a></h1>
                            <p class="subtitle">这是我的博客</p>
                        </div>
                        <div class="menu-block">
                            <ul id="menu"></ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-10 col-md-offset-2 col-sm-10 col-sm-offset-2 col-xs-12 homepage-right-block">
                    <div class="row">
                        <div class="col-xs-12 hidden-md hidden-lg hidden-sm homepage-right-title">
                            <div class="small-title-block">
                                <h1><a>tsuchen</a></h1>
                                <p class="subtitle">这是我的博客</p>
                            </div>
                            <!-- <img id="SmallIcon" src="../static/img/icon.png" class="SmallIcon"> -->
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
        <script src="../static/js/tools/jquery-3.2.1.js"></script>
        <script src="../static/js/myblog.js"></script>
        <!-- 包括所有已编译的插件 -->
        <!-- <script src="../static/js/bootstrap.min.js"></script> -->
   </body>
</html>