<!DOCTYPE html>
<html>
   <head>
      <title>Bootstrap 模板</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- 引入 Bootstrap -->
      <link href="../static/css/bootstrap.min.css" rel="stylesheet">
      <link href="../static/css/myblog.css" rel="stylesheet">
   </head>
   <body>
      <div class="container">
          <div class="row">
              <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                <div class="icon-block">
                    <img id="icon" src="../static/img/icon.png" class="img-circle">
                </div>
              </div>
          </div>
          <div class="row">
            <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
              <div class="login-title-block">Sign to Tsuchen's blog</div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
              <div class="login-form-block">
                <div class="form-group">
                    <label for="InputUserName">User Name</label>
                    <input type="text" id="InputUserName" class="form-control" placeholder="User Name">
                </div>
                <div class="form-group">
                    <label for="InputPassword">Password</label>
                    <a href="www.baidu.com" class="forget">Forget password?</a>
                    <input type="password" id="InputPassword" class="form-control" placeholder="Password">
                </div>
                <div class="form-group">
                    <button type="submit" class="form-control btn btn-primary">登录</button>
                </div>
              </div>
            </div>
          </div>
      </div>

      <!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
      <script src="../static/js/jquery-3.2.1.js"></script>
      <!-- 包括所有已编译的插件 -->
      <script src="../static/js/bootstrap.min.js"></script>
   </body>
</html>