<div>
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <tr class="success">
                <th>ID</th>
                <th>UserName</th>
                <th>Password</th>
                <th>Sex</th>
                <th>Age</th>
                <th>Phone</th>
                <th>Desc</th>
            </tr>
            {{range $key, $val := .Users}}
                <tr class="active">
                    <td>{{$val.ID}}</td>
                    <td>{{$val.Name}}</td>
                    <td>{{$val.Password}}</td>
                    <td>{{$val.Profile.Sex}}</td>
                    <td>{{$val.Profile.Age}}</td>
                    <td>{{$val.Profile.PNumber}}</td>
                    <td>{{$val.Profile.Introduce}}</td>
                </tr>
            {{end}}
        </table>
    </div>
    <nav aria-label="Page navigation" style="text-align:center;">
        <ul class="pagination">
            <li>
                <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
            <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
            </li>
        </ul>
    </nav>
</div>