<div>
    <!-- header -->
    <div class="content-header">
        <p style="color:#555555;font-size:1.8em;padding-left:15px;">用户列表</p>
            <ol class="breadcrumb">
                <li><a href="/admin">首页</a></li>
                <li class="active">用户列表</li>
            </ol>
        <hr>
    </div>

    <ul class="nav nav-tabs">
        <li class="active" role="presentation">
            <a href="#userlist" data-toggle="tab">用户列表</a>
        </li>
        <li role="presentation">
            <a href="#newuser" data-toggle="tab">新用户</a>
        </li>
    </ul>

    <div class="tab-content profile-content">
        <div id="userlist" class="tab-pane fade in active">
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <tr class="success">
                        <th>ID</th>
                        <th>UserName</th>
                        <th>Password</th>
                    </tr>
                    {{range $key, $val := .Users}}
                        <tr class="active">
                            <td>{{$val.ID}}</td>
                            <td>{{$val.Name}}</td>
                            <td>{{$val.Password}}</td>
                        </tr>
                    {{end}}
                </table>
            </div>
            <nav aria-label="Page navigation" style="text-align: center;">
                <ul class="pagination">
                    <li>
                        <a id="PrePageLink" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {{range $key, $val := .PageIndexList}}
                        <li class="{{if $val.Active}}active{{end}}">
                            <a href="/admin/userlist/p/{{$val.Index}}">{{$val.Index}}</a>
                        </li>
                    {{end}}
                    <li>
                        <a id="NextPageLink" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <div id="newuser" class="tab-pane fade">
            <form>
                <div class="form-group">
                    <label for="InputUserName">账号：</label>
                    <input type="password" id="InputUserName" class="form-control profile-input" placeholder="">
                </div>
                <div class="form-group">
                    <label for="InputPass">密码：</label>
                    <input type="password" id="InputPassword" class="form-control profile-input" placeholder="">
                </div>
                <div class="form-group">
                    <label for="InputPass">确认密码：</label>
                    <input type="password" id="ComfirmPassword" class="form-control profile-input" placeholder="">
                </div>
                <div class="form-group">
                    <button id="CreateNewUser" type="button" class="btn btn-primary">创建新用户</button>
                </div>
            </form>
        </div>
    <div>
</div>