<div>
    <!-- header -->
    <div class="content-header">
        <p style="color:#555555;font-size:1.8em;padding-left:15px;">用户信息</p>
            <ol class="breadcrumb">
                <li><a href="/admin">首页</a></li>
                <li class="active">用户信息</li>
            </ol>
        <hr>
    </div>

    <ul class="nav nav-tabs">
        <li class="active" role="presentation">
            <a href="#profile" data-toggle="tab">个人信息</a>
        </li>
        <li role="presentation">
            <a href="#resetpass" data-toggle="tab">修改密码</a>
        </li>
    </ul>

    <div class="tab-content profile-content">
        <div id="profile" class="tab-pane fade in active">
            <div>
                <ul id="time-ul">
                    <li>创建时间：<span>{{.CreateTime}}</span></li>
                    <li>更新时间：<span style="color:red;">{{.UpdateTime}}</spa></li>
                </ul>
            </div>
            <form>
                <div class="form-group">
                    <label for="InputNickName">昵称：</label>
                    <input type="text" id="InputNickName" class="form-control profile-input" value="{{.User.Profile.NickName}}">
                </div>
                <div class="form-group">
                    <label for="InputSex">性别：</label>
                    <select id="InputSex" class="form-control profile-input">
                        <option value="man" {{if eq .User.Profile.Sex "man"}}selected{{end}}>男</option>
                        <option value="woman" {{if eq .User.Profile.Sex "woman"}}selected{{end}}>女</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="InputBirthday">生日：</label>
                    <input id="InputBirthday" type="date" class="form-control profile-input" value="{{.Birth}}"/>
                </div>
                <div class="form-group">
                    <label for="InputPhoneNumber">手机：</label>
                    <input type="text" id="InputPhoneNumber" class="form-control profile-input" value="{{.User.Profile.PNumber}}">
                </div>
                <div class="form-group">
                    <label for="InputEmail">邮箱：</label>
                    <input type="text" id="InputEmail" class="form-control profile-input" value="{{.User.Profile.Email}}">
                </div>
                <div class="form-group">
                    <label for="InputDesc">自我介绍：</label>
                    <textarea id="InputDesc" class="form-control profile-desc-area" style="text-align:left;" rows="5">{{.User.Profile.Introduce}}</textarea>
                </div>
                <div class="form-group">
                    <button id="UpdateProfile" type="button" class="btn btn-primary">确认修改</button>
                </div>
            </form>
        </div>
        <div id="resetpass" class="tab-pane fade">
            <form>
                <div class="form-group">
                    <label for="InputOldPass">原密码：</label>
                    <input type="password" id="InputOldPass" class="form-control profile-input" placeholder="">
                </div>
                <div class="form-group">
                    <label for="InputNewPass">新密码：</label>
                    <input type="password" id="InputNewPass" class="form-control profile-input" placeholder="">
                </div>
                <div class="form-group">
                    <label for="InputConfirmPass">确认密码：</label>
                    <input type="password" id="InputConfirmPass" class="form-control profile-input" placeholder="">
                </div>
                <div class="form-group">
                    <button id="UpdatePass" type="button" class="btn btn-primary">确认修改</button>
                </div>
            </form>
        </div>
    </div>
</div>
    